In [13]:
import pandas as pd
import datetime
from datetime import date
import time

In [20]:
df = pd.read_excel("../その他データ/ジャニーズJrの年齢.xlsx")
df

         生年月日     名前        読み仮名
0  1990-02-08    林翔太    はやし しょうた
1  1992-05-05   深澤辰哉    ふかざわ たつや
2  1992-07-05  佐久間大介    さくま だいすけ
3  1992-11-05   渡辺翔太   わたなべ しょうた
4  1992-12-30   野澤祐樹     のざわ ゆうき
5  1993-03-25   宮舘涼太   みやだて りょうた
6  1993-05-17    岩本照    いわもと ひかる
7  1993-09-14    高田翔     たかだ しょう
8  1993-11-27   阿部亮平    あべ りょうへい
9  1994-03-08   髙地優吾     こうち ゆうご
10 1994-11-22  川島如恵留    かわしま のえる
11 1994-12-03   京本大我   きょうもと たいが
12 1995-06-15    田中樹     たなか じゅり
13 1995-06-18   松村北斗    まつむら ほくと
14 1996-06-11   ジェシー        じぇしー
15 1997-02-16    目黒蓮      めぐろ れん
16 1997-04-15   中村海人    なかむら かいと
17 1997-07-15  森本慎太郎  もりもと しんたろう
18 1997-09-22   宮近海斗    みやちか かいと
19 1997-11-14   松倉海斗    まつくら かいと
20 1998-02-10    椿泰我     つばき たいが
21 1999-04-19   松田元太     まつだ げんた
22 1999-11-15   髙橋優斗    たかはし ゆうと
23 2000-10-30    橋本涼    はしもと りょう
24 2000-10-31   井上瑞稀    いのうえ みずき
25 2002-09-20   猪狩蒼弥     いがり そうや
26 2002-09-30   作間龍斗    さくま りゅうと
27 2002-12-17   佐藤龍我    さとう りゅうが
28 2003-06-27   ラウール        らうーる

In [21]:
def getAge(birthday):
    today    = int(pd.to_datetime('today').strftime('%Y%m%d'))
    birthday = int(birthday.strftime('%Y%m%d'))
    return int((today - birthday) / 10000)

In [22]:
df['年齢'] = df['生年月日'].apply(lambda date: getAge(date))
df

         生年月日     名前        読み仮名  年齢
0  1990-02-08    林翔太    はやし しょうた  29
1  1992-05-05   深澤辰哉    ふかざわ たつや  27
2  1992-07-05  佐久間大介    さくま だいすけ  27
3  1992-11-05   渡辺翔太   わたなべ しょうた  26
4  1992-12-30   野澤祐樹     のざわ ゆうき  26
5  1993-03-25   宮舘涼太   みやだて りょうた  26
6  1993-05-17    岩本照    いわもと ひかる  26
7  1993-09-14    高田翔     たかだ しょう  25
8  1993-11-27   阿部亮平    あべ りょうへい  25
9  1994-03-08   髙地優吾     こうち ゆうご  25
10 1994-11-22  川島如恵留    かわしま のえる  24
11 1994-12-03   京本大我   きょうもと たいが  24
12 1995-06-15    田中樹     たなか じゅり  24
13 1995-06-18   松村北斗    まつむら ほくと  24
14 1996-06-11   ジェシー        じぇしー  23
15 1997-02-16    目黒蓮      めぐろ れん  22
16 1997-04-15   中村海人    なかむら かいと  22
17 1997-07-15  森本慎太郎  もりもと しんたろう  22
18 1997-09-22   宮近海斗    みやちか かいと  21
19 1997-11-14   松倉海斗    まつくら かいと  21
20 1998-02-10    椿泰我     つばき たいが  21
21 1999-04-19   松田元太     まつだ げんた  20
22 1999-11-15   髙橋優斗    たかはし ゆうと  19
23 2000-10-30    橋本涼    はしもと りょう  18
24 2000-10-31   井上瑞稀    いのうえ みずき  18
25 2002-09-20   猪狩蒼弥     いがり そうや  16
26 2002-09-30   作間龍斗    さくま りゅうと  16
27 2002-12-17   佐藤龍我    さとう りゅうが  16
28 2003-06-27   ラウール        らうーる  16

In [25]:
df["年齢"].mean()

22.379310344827587